{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
    <h2>Combined Chart Example</h2>
    <div>
        <canvas id="combinedChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var labels = {{ labels|safe }};
        var bar_values = {{ bar_values|safe }};
        var line_values = {{ line_values|safe }};

        // Generate dynamic background colors
        var backgroundColors = generateRandomColors(bar_values.length);

        // Create a polar chart
        var ctx = document.getElementById('combinedChart').getContext('2d');
        var combinedChart = new Chart(ctx, {
            data: {
                datasets: [{
                    type: 'bar',
                    label: 'Daily Prices',
                    data: bar_values,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                }, {
                    type: 'line',
                    label: 'Moving Average Prices',
                    data: line_values,
                    backgroundColor: backgroundColors,
                }],
                labels: labels
            },
        });
        // Function to generate random background colors
        function generateRandomColors(count) {
            var colors = [];
            for (var i = 0; i < count; i++) {
                colors.push(getRandomColor());
            }
            return colors;
        }

        // Function to generate a random color
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>

{% endblock content %}