{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1>Service Location Details</h1>
            </div>
        </div>
        <div class="row-gap-3 mt-3">
        <div class="col-md-5">
            <div class="card my-3">
                <img class="card-img-top" src="{% static 'customer/site_images/fancy-house-card.jpeg' %}"
                     alt="House image"
                     style="max-height: 250px"
                >
                <div class="card-body">
                    <div class="card-title">
                        <h3 class = "fw-bold">{{ location.apt_unit }} {{ location.street }}, {{ location.zipcode }}</h3>
                    </div>
                    <h5>Move-in-date: {{ location.move_in_date|date:"Y-m-d" }}</h5>
                    <h5><strong>Area:</strong> {{ location.area }}</h5>
                    <h5><strong>Bedrooms:</strong> {{ location.bedroom }}</h5>
                    <h5><strong>Occupants:</strong> {{ location.occupants }}</h5>
                    <br>
                    <div class="mb-1">
                        <a href="{% url 'device:show_sl_eusage' location_id=location.id %}"
                           class="btn btn-outline-info">View Energy Usage </a>
                    </div>
                    <div class="mb-1">
                        <a href="{% url 'device:get_devices' location_id=location.id %}" class="btn btn-outline-primary">View Devices Installed</a>
                    </div>
                    <div class="mb-1">
                        <form action="{% url 'device:add_device' location_id=location.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-primary" type="submit">Add Devices</button>
                        </form>
                    </div>
                    <div class="mb-1">
                        <a href="{% url 'customer:update_service_location' location_id=location.id %}"
                           class="btn btn-outline-info">Edit Service Location</a>
                    </div>
                    <div class="mb-1">
                        <a href="{% url 'customer:delete_service_location' location_id=location.id %}"
                           class="btn btn-outline-danger">Delete Service Location</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
