{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
    <h2>Line Chart</h2>
    <div style="width: 80%; margin: auto;">
        <canvas id="lineChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('lineChart').getContext('2d');
        {% if x_axis and y_axis %}
            var chartOptions = {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: '{{ x_axis }}'  // Display x-axis name
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: '{{ y_axis }}' // Display y-axis name
                        },
                        beginAtZero: true
                    }
                }
            }
        {% else %}
            var chartOptions = {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        {% endif %}
        var labels = {{ labels|safe }};
        var values = {{ values|safe }};
        var backgroundColors = generateRandomColors(values.length);
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Energy Usage',
                    data: values,
                    backgroundColor: backgroundColors,
                    borderWidth: 1
                }]
            },
            options: chartOptions
        });
        // Function to generate random background colors
        function generateRandomColors(count) {
            var colors = [];
            for (var i = 0; i < count; i++) {
                colors.push(getRandomColor());
            }
            return colors;
        }

        // Function to generate a random color
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>
{% endblock content %}